[package]
name = "flow"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
chrono="0.4.19"
ndata="0.1.2"
state="0.5.2"
jni = "0.19.0"

[[bin]]
name = "flow"
path = "src/main.rs"

[[bin]]
name = "flowb"
path = "src/build.rs"

[lib]
crate_type = ["cdylib"]

