[package]
name = "flowlang"
version = "0.1.4"
edition = "2021"
license = "MIT"
readme = "README.md"
description = "A 3D dataflow oriented programming language."
homepage = "https://github.com/mraiser/flow"
documentation = "https://docs.rs/flowlang/latest/flowlang/"
repository = "https://github.com/mraiser/flow"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
chrono="0.4.19"
ndata="0.1.4"
#ndata={path="../ndata"}
state="0.5.3"
jni = "0.19.0"

[[bin]]
name = "flow"
path = "src/main.rs"

[[bin]]
name = "flowb"
path = "src/build.rs"

[lib]
crate_type = ["lib","cdylib"]
path = "src/lib.rs"

